@page
@model RecipesGalorePRJ.Pages.Admin.AdminUpdateRecipesModel
@{
    ViewData["Title"] = "Update Recipe";
    Layout = "AdminLayout";
}
<div class="add-recipe-container">
    <form method="post" class="add-recipe-form" enctype="multipart/form-data">
        <input type="hidden" asp-for="recipeUpdate.RecipeID" />
        <div class="add-recipe-details">
            <label class="add-recipe-label">Recipe Name:</label>
            <input asp-for="recipeUpdate.Name" />
        </div>
        <div class="add-recipe-details">
            <label class="add-recipe-label">Recipe Cuisine Type:</label>
            <input asp-for="recipeUpdate.CuisineType" />
        </div>
        <div class="add-recipe-details">
            <label class="add-recipe-label">Recipe Cooking Time:</label>
            <input asp-for="recipeUpdate.CookingTime" />
        </div>
        <div class="add-recipe-details">
            <label class="add-recipe-label">Recipe Method:</label>
            <input asp-for="recipeUpdate.Ingredients" />
        </div>
        <div class="add-recipe-details">
            <label class="add-recipe-label">Recipe Ingredients:</label>
            <input asp-for="recipeUpdate.Method" />
        </div>
        <div class="add-recipe-details">
            <label class="add-recipe-label">Recipe File:</label>
            <input type="file" asp-for="RecipeFileUpdate" onchange="readURL(this)" accept="image/*" />
        </div>
        <div class="add-recipe-details">
            <img id="Img" src="~/Files/@Model.recipeUpdate.File" style="width: 200px;" />
        </div>
        <input class="create-recipe" value="Update" type="submit" />
    </form>
</div>