@page
@model RecipesGalorePRJ.Pages.Admin.AdminDeleteRecipeModel
@{
    ViewData["Title"] = "Delete Recipe";
}
<div>
    <h4>Are you sure you want to delete this recipe?</h4>
    <div>
        <img src="~/Files/@Model.recipeDelete.File" style="height: 150px; width: 250px;" />
        <p>@Model.recipeDelete.Name</p>
        <p>@Model.recipeDelete.CookingTime</p>
        <p>@Model.recipeDelete.CuisineType</p>
    </div>
    <form method="post">
        <input type="hidden" asp-for="recipeDelete.RecipeID" />
        <input type="submit" value="Delete" />
    </form>
</div>