@page
@model RecipesGalorePRJ.Pages.Guest.LogoutModel
@{
    ViewData["Title"] = "Logged Out";
    Layout = "GuestLayout";
}
<div class="log-out-container">
    <div class="row1">
        <p>You have been logged out of the system.</p>
    </div>
    <div class="row2">
        <a class="Log-in-log-out-atag" asp-page="/Guest/Login">Log In?</a>
    </div>
</div>